include _variables.pug
include _button.pug

mixin cooperation()
    section.main__cooperation-section
        .main__cooperation.container 
            .main__cooperation-title-tablet
                p.title Співпраця
            .main__cooperation-img
                img(src="../img/cooperation/cooperation.jpg", alt="cooperation")
            .main__cooperation-content 
                .cooperation-title 
                    p.title Співпраця
                .cooperation-text 
                    p.text-big.
                                Запрошуємо до співпраці 
                                рекламодавців, які турбуються
                                про своїх клієнтів! 
                    br
                    p.text-small.
                               Пропонуємо: Аудіорекламу. 
                               Виробництво аудіороликів. 
                               Виробництво подкастів. 
                               Спонсорську підтримку програм. 
                               Стати гостем студії. 
                    br
                    p.text-small.
                               Разом із нашими фахівцями ви зможете 
                               розробити ексклюзивну 
                               комунікаційну стратегію, 
                               враховуючи потреби нашої аудиторії та ваших 
                               клієнтів. Ба навіть 
                               створити новий радіопроєкт.
                .cooperation-button 
                    +button_layout("Детально", "cooperation-button", "")

