mixin header() 
    header.header
        nav.header__navigation.container
            div(class="header__burger header__burger_" id="burger" onclick="burger()")
            div(class="header__burger-open header__nav-list-transform-close" id="burger-nav")
                ul.header__nav-list
                    li.header__item 
                        a(href="#") Головна
                    li.header__item 
                        a(href="#") Програми та подкасти
                    li.header__item 
                        a(href="#") Плейлист
                    li.header__item 
                        a(href="#") Співпраця
                    li.header__item 
                        a(href="#") Замовити пісню
                    li.header__item 
                        a(href="#") Купити атрибутику
                a(class="facebook" href="#")
                .header__contact
                    .header__contact-title 
                        p.title Контакти
                    .header__contact-list
                        ul.list 
                            li.mobile 
                                p.item +38 (096) 869 6005
                                p.item +38 (0332) 78 82 78
                            li.email 
                                p.item radiosidfm@gmail.com
                            li.adress 
                                p.item вул.Конякіна,18в. Луцьк. Волинська обл., Україна. 43024
                
                div(class="burger__header__change-language" id="language" onclick="changeLangS()")
                    div(class="header__en" id="enS") 
                        p ENG 
                    div(class="header__ua" id="uaS")
                        p UA
            .header__logo-img
                a(href="#")
            ul.header__nav-list
                li.header__item 
                    a(href="#") Головна
                li.header__item 
                    a(href="#") Програми та подкасти
                li.header__item 
                    a(href="#") Плейлист
                li.header__item 
                    a(href="#") Співпраця
                li.header__item 
                    a(href="#") Замовити пісню
                li.header__item 
                    a(href="#") Купити атрибутику
            div(class="header__change-language" id="language" onclick="changeLangM()")
                div(class="header__en" id="enM") 
                    p ENG 
                div(class="header__ua" id="uaM")
                    p UA
            .header__music-player 
                div(class="header__button-play-stop" id="play_stop" onclick="play_stopHeader()")
                .header__name-song 
                    p.header__title Зараз грає 
                    p.header__song Sia – My Old Santag...
