include _variables.pug
include _button.pug
include _cardsNews.pug

mixin news()
    section.main__news-section 
        .main__news.main-container 
            .main__news-title 
                p.title Новини міста Луцьк
            .main__news-cards
                - for (var x = 1; x < 4; x++) 
                    +news_card("Схованка від дощу та місце для розвитку: про основні цілі та цінності Молодіжного центру Волині", "Креативний простір для молоді у самому центр Луцька діє уже 5 років.", "15:15 11.01.2021", x)
            .main__news-arrows 
                .arrow-left 
                .arrow-right    
            .main__news-dots 
                ul.dots
                    li.dot 
                    li.dot 
                    li.dot 
                    li.dot 
            .main__news-button
                +button_layout("Більше", "news-button", "")

