include _variables.pug
include _header.pug
include _welcomPlayer.pug
include _footer.pug 
include _button.pug
include _cardProgramAndPodcast.pug
include _soon.pug
include _offer.pug
include _cooperation.pug
include _program-and-podcasts.pug
include _news.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/null.min.css")
        link(rel="stylesheet", href="../css/fonts.min.css")
        link(rel="stylesheet", href="../css/style.min.css")
        title Радіо CID FM
    body 
        +header()
        main.main 
            +welcomPlayer()
            +soon()
            +offer()
            +cooperation()
            +program-and-podcasts()
            +news()
        +footer()
        script(type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(type="text/javascript" src="../js/language.js")
        script(type="text/javascript" src="../js/language_.js")
        script(type="text/javascript" src="../js/play-stop.js")
        script(type="text/javascript" src="../js/slick.min.js")
        script(type="text/javascript" src="../js/slick.js")
        script(type="text/javascript" src="../js/burger.js")