mixin soon()
    section.main__soon 
        .main__soon-content.main-container
            .main__title-gallary 
                p.title Скоро
            div(class="main__gallary slider responsive")
                .slider-item 
                    img(src="../img/soon/soon-img-gallary_1.png", alt="gallary")
                .slider-item 
                    img(src="../img/soon/soon-img-gallary_2.png", alt="gallary")
                .slider-item  
                    img(src="../img/soon/soon-img-gallary_3.png", alt="gallary")
                .slider-item 
                    img(src="../img/soon/soon-img-gallary_4.png", alt="gallary")
                .slider-item 
                    img(src="../img/soon/soon-img-gallary_1.png", alt="gallary")
                .slider-item 
                    img(src="../img/soon/soon-img-gallary_2.png", alt="gallary")
                .slider-item  
                    img(src="../img/soon/soon-img-gallary_3.png", alt="gallary")
                .slider-item 
                    img(src="../img/soon/soon-img-gallary_4.png", alt="gallary")
                //- div(class="arrow-gallary-left prev")
                //-     svg(width="16" height="32" viewBox="0 0 16 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                //-         path(d="M14.2225 1.90735e-06L0 16L14.2225 32L16 30.0004L3.555 16L16 1.99965L14.2225 1.90735e-06Z" fill="#242530")
                //- div(class="arrow-gallary-right next")
                //-     svg(width="16" height="32" viewBox="0 0 16 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                //-         path(d="M1.7775 32L16 16L1.7775 0L0 1.99965L12.445 16L0 30.0004L1.7775 32Z" fill="#242530")



