@import "./_variables";

@mixin card-news() {
    .referense-news {
        display: flex;
        width: 355px !important;
        height: 430px;
        border-radius: 8px;
        position: relative;
    }
    .card_news {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center top;
        display: flex;
        &__info {
            width: 100%;
            height: 165px;
            background-color: $gray2;
            position: absolute;
            bottom: 0;
            display: grid;
            grid-template-rows: 50% 40% 10%;
            padding-left: 10px;
            padding-right: 10px;
            justify-items: center;
            .title {
                color: $gray1;
                font-family: "Play-Bold";
                font-size: 16px;
                height: auto;
                width: 100%;
                line-height: 150%;
                margin-top: 5px;
            }
            .text {
                color: $gray3;
                font-family: "Play-Regular";
                font-size: 16px;
                width: 100%;
                line-height: 150%;
            }
            .time {
                color: $gray3;
                font-family: "Play-Regular";
                font-size: 14px;
                width: auto;
                justify-self: end;
                overflow: hidden;
            }
        }
    }
}
@mixin bg-card-news($background-image-name, $calcCards) {
    @for $i from 1 through $calcCards {
        .card-news-number_#{$i} {
            background-image: url($background-image-name + $i + ".png");
        }
    } 
}