@import "./_variables";
@import "./_container";
@import "./_button";
@import "./_cardsNews";

@mixin news() {
    
        
    .main {
        &__news-section {
            width: 100%;
            height: 785px;
            overflow: hidden;
            position: relative;
        }
        &__news {
            display: grid;
            grid-template-rows: auto auto auto;
            height: 100%;
            width: 100%;
            justify-items: center;
            align-items: center;
            &-title {

                .title {
                    font-size: 32px;
                    line-height: 150%;
                    color: $gray1;
                    font-family: "Play-Regular";
                }
            }
            &-arrows {
                display: none;
            }
            &-dots {
                display: none;
            }
            @media (max-width: 1125px) {
                &-dots {
                    display: inline-block;
                    position: absolute;
                    width: 100%;
                    top: 83%;
                    height: 8px;
                    .dots {
                        list-style: none;
                        display: flex;
                        justify-content: space-between;
                        width: 50px;
                        margin: 0 auto;
                        .dot {
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: $gray1;
                        }
                        .dot:nth-child(2), .dot:nth-child(3) {
                            background-color: $main-color;
                        }
                    }
                }
                &-arrows {
                    display: inline-block;
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    height: 32px;
                    
                    .arrow-left, .arrow-right {
                        width: 16px;
                        height: 100%;
                        background-image: url(../img/soon/arrow.svg);
                        display: inline-block;
                        position: absolute;
                    }
                    .arrow-left:hover, .arrow-right:hover {
                        background-image: url(../img/soon/arrowHOVER.svg);
                    }
                    .arrow-left {
                        left: 4%;                        
                        transform: rotate(180deg);
                    }
                    .arrow-right {
                        right: 4%;                  
                    }
                    z-index: 5;
                }
            }
            &-cards {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                width: 100%;
                overflow: hidden;
                @include card-news();
                @include bg-card-news("../img/news/bg-news-card_", 3);
                @media (max-width: 1125px) {
                    justify-content: center;
                    .referense-news:first-child, .referense-news:last-child {
                        opacity: 0.5;
                        width: auto;
                        min-width: 0;
                    }
                    .referense-news:first-child {
                        left: -5%;
                        position: absolute;
                    }
                    .referense-news:last-child {
                        right: -5%;
                        position: absolute;
                    }
                    .referense-news {
                        min-width: 355px;
                    }
                }
                @media (max-width: 980px) {
                    .referense-news:first-child {
                        left: -10%;
                    }
                    .referense-news:last-child {
                        right: -10%;
                    }
                }
                @media (max-width: 890px) {
                    .referense-news:first-child {
                        left: -15%;
                    }
                    .referense-news:last-child {
                        right: -15%;
                    }
                }
                @media (max-width: 830px) {
                    .referense-news:first-child {
                        left: -25%;
                    }
                    .referense-news:last-child {
                        right: -25%;
                    }
                }
                @media (max-width: 725px) {
                    .referense-news:first-child {
                        left: -30%;
                    }
                    .referense-news:last-child {
                        right: -30%;
                    }
                }
                @media (max-width: 670px) {
                    .referense-news:first-child {
                        left: -35%;
                    }
                    .referense-news:last-child {
                        right: -35%;
                    }
                }
                @media (max-width: 630px) {
                    .referense-news:first-child {
                        left: -42%;
                    }
                    .referense-news:last-child {
                        right: -42%;
                    }
                }
                @media (max-width: 600px) {
                    .referense-news:first-child {
                        display: none;
                    }
                    .referense-news:last-child {
                        display: none;
                    }
                }
            }
            &-button {
                width: 100%;
                text-align: center;
                @include button_layout("button_layout", 140px, $false);
            }
        }
    }
}
