mixin offerBlock(_calc)
    - for (var x = 0; x < _calc; x++)
        .main__offer-block 
            div(class=`main__part-wiht-img-${x+1}`)
                .main__img 
            .main__part-content-text 
                .main__title-item 
                    p.main__title Light, Fast & Powerful
                .main__text-item 
                    p.main__text.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Aenean commodo ligula eget dolor. 
                                Aenean massa. 
                                Cum sociis natoque 
                                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    br
                    p.main__text.
                                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                                Nulla consequat massa quis enim.