-
    let header__referense = {
        'class': 'header__referense',
        'href': '#',
        'target': '_blank'
    }


-
    let footer__feferense = {
        'class': 'footer__referense',
        'href': '#',
        'target': '_blank'
    }


-
    let header__button_buy = {
        'id': 'header-button-buy',
        'type': 'button',
        'value': 'Buy Now'
    }


-
    let referense = {
        'href': '#',
        'target': '_blank'
    }


-
    let button_Purchase_Now = {
        'class': 'button-purchase-now',
        'type': 'button',
        'value': 'Purchase Now'
    }


- let calcBlockOffer = 3

- let cost = 40
