@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@include font("Roboto-Black", "Roboto-Black", "400", "normal");
@include font("Roboto-Bold", "Roboto-Bold", "400", "normal");
@include font("Roboto-Light", "Roboto-Light", "400", "normal");
@include font("Roboto-Medium", "Roboto-Medium", "400", "normal");
@include font("Roboto-Regular", "Roboto-Regular", "400", "normal");
@include font("Roboto-Thin", "Roboto-Thin", "400", "normal");
