@font-face {
    font-family: Avenir-Black;
    src: url(../fonts/Metropolis-Black.otf);
}
@font-face {
    font-family: Avenir-Bold;
    src: url(../fonts/Metropolis-Bold.otf);
}
@font-face {
    font-family: Avenir-ExtraBold;
    src: url(../fonts/Metropolis-ExtraBold.otf);
}
@font-face {
    font-family: Avenir-ExtraLight;
    src: url(../fonts/Metropolis-ExtraLight.otf);
}
@font-face {
    font-family: Avenir-Light;
    src: url(../fonts/Metropolis-Light.otf);
}
@font-face {
    font-family: Avenir-Medium;
    src: url(../fonts/Metropolis-Medium.otf);
}
@font-face {
    font-family: Avenir-Regular;
    src: url(../fonts/Metropolis-Regular.otf);
}
@font-face {
    font-family: Avenir-SemiBold;
    src: url(../fonts/Metropolis-SemiBold.otf);
}
@font-face {
    font-family: Avenir-Thin;
    src: url(../fonts/Metropolis-Thin.otf);
}
.font-family--Helvetica {
    font-family: Helvetica;
}
.font-family--Avenir {
    font-family: Avenir;
}