.section-third {
    display: grid;
    grid-template: minmax(auto, 160px) / 584px;
    margin: 0 auto;
}

.section-third__item {
    text-align: center;
}

.section-third__item .item-content {
    height: 160px;
}

.section-third__item .item-title  p{
    font-weight: bold;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}

.section-third__item .item-text {
    margin-top: 50px;
}

.section-third__item .item-text p {
    width: 584px;
    height: 58px;
    font-size: 17px;
    line-height: 160%;  
    color: #4B5D68;
    font-family: Avenir-Light;
}