.section-fourth {
    display: grid;
    grid-template: repeat(2, 230px) / repeat(2, 560px);
    margin: 0 auto;
    grid-row-gap: 165px;
}

.section-fourth .section-fourth__item {
    display: grid;
    grid-template: 100% / repeat(2, 1fr);
}

.section-fourth .section-fourth__item .item__img-back {
    background-repeat: no-repeat;
    align-self: center;
    background-size: 100%;
}

.section-fourth .section-fourth__item:nth-child(1) .item__img-back {
    background-image: url(../img/section-fourth-1.svg);
    width: 232px;
    height: 211px;
    align-self: end;
}

.section-fourth .section-fourth__item:nth-child(2) .item__img-back {
    background-image: url(../img/section-fourth-2.svg);
    width: 242px;
    height: 185px;
}

.section-fourth .section-fourth__item:nth-child(3) .item__img-back {
    background-image: url(../img/section-fourth-3.svg);
    width: 245px;
    height: 181px;
    align-self: end;
}

.section-fourth .section-fourth__item:nth-child(4) .item__img-back {
    background-image: url(../img/section-fourth-4.svg);
    width: 230px;
    height: 201px;
    align-self: self-end;
}

.section-fourth .content__title {
    width: 200px;
    height: 50px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
}

.section-fourth .content__text {
    width: 221px;
    height: 160px;
    font-family: Avenir-Light;
    font-size: 15px;
    line-height: 160%;
    color: #4B5D68; 
}

.section-fourth .content__referense-item {
    font-size: 16px;
    font-family: Avenir-Bold;
    width: 210px;
    text-decoration: none;
    color: #212353;
    display: flex;
}

.section-fourth .content__referense-item::after {
    content: '';
    background-image: url(../img/header__item-button-arrow-logo.svg);
    width: 20px;
    height: 14px;
    background-size: 100%;
    position: relative;
    right: -10%;
    top: 3px;
}