.section-second {
    display: grid;
    grid-template: minmax(auto, 560px) / 560px 560px;
    background-color: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}

.section-second__item-img .item-img {
    background-image: url(../img/section-second__img.svg);
    position: relative;
    background-size: 90%;
    background-position-x: 25%;
    background-position-y: 60%;
    background-repeat: no-repeat;
    width: 477px;
    height: 504px;
}

.section-secod__item-content {
    align-self: center;
}

.item-content__title p {
    width: 475px;
    height: 100px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}

.item-content__text {
    margin-top: 40px;
}

.item-content__text p {
    width: 474px;
    height: 170px;
    font-family: Avenir-Light;
    font-size: 17px;
    line-height: 160%;
    color: #4B5D68;
}