@import "./_variables";

.container {
    max-width: 1440px;
    width: 100%;
}
.main-container {
    max-width: 1125px;
    width: 100%;
    margin: 0 auto;
}
@media (max-width: 1080px) {
    .container {
        max-width: 100%;
    }
}
@media (max-width: 1125px) {
    .main-container {
        max-width: 100%;
    }
}
