@import './_button';
@import './_cardProgramAndPodcast';
@import './_header';
@import './_welcomPlayer';
@import './_soon';
@import './_offer';
@import './_cooperation';
@import './_program-and-podcasts';
@import './_news';
@import './_footer';
@import './_icon';

@include card();

@include bg-card('../img/programs-and-podcasts/programs_and_podcasts_', 1);

html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

body,
p {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
@include header('index');

@include welcomPlayer();

@include soon();

@include offer();

@include cooperation();

@include program-and-podcasts();

@include news();

@include footer();
